<ion-list id="inbox-list">
  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
    <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>Email</ion-label>
  <ion-input [(ngModel)]="user.email" placeholder="Email" type="text"></ion-input> 

  <ion-label>Password Input</ion-label>
  <ion-input [(ngModel)]="user.password" placeholder="Password" type="passwordplaceholder" type="password"></ion-input>

  <ion-button (click)="login()" color="primary">Login</ion-button>
  <ion-button (click)="logout()" color="primary">Logout</ion-button>

</ion-content>
